In [4]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

from config import dbconfig


engine = create_engine(dbconfig.aws_connection_string)
table_names = engine.table_names()
print(table_names)

['partners', 'loan_dates', 'd_date', 'lenders', 'loans', 'loans_lenders']

In [5]:
statement = """SELECT loans.loan_id,original_language,funded_amount,activity_name,sector_name,country_code,borrower_genders,currency,repayment_interval,distribution_model
, loan_dates.* FROM loans
inner join loan_dates on loans.loan_id = loan_dates.loan_id
where status = 'funded' 
and posted_time_actual >= make_date(2015, 1 ,1) and posted_time_actual <= make_date(2016, 12 ,31)
order by posted_to_raised_days desc"""

cleanloans = pd.read_sql_query(statement, engine)

In [25]:
cleanloans['num_borrowers_female'] = cleanloans['borrower_genders'].str.count('female')
cleanloans['num_borrowers_male'] = cleanloans['borrower_genders'].str.count('^male') + cleanloans['borrower_genders'].str.count('\, male')
cleanloans['num_borrowers'] = cleanloans['num_borrowers_female']+cleanloans['num_borrowers_male']

cleanloans['num_borrowers_female_pct'] = (cleanloans['num_borrowers_female']*1.00)/cleanloans['num_borrowers']

In [26]:
cleanloans[cleanloans['num_borrowers_female_pct'] == .5]

,loan_id,original_language,funded_amount,activity_name,sector_name,country_code,borrower_genders,currency,repayment_interval,distribution_model,...,posted_time_actual,disburse_time_actual,raised_time_actual,disburse_to_posted_days,posted_to_raised_days,disbursed_to_raised_days,num_borrowers_female,num_borrowers_male,num_borrowers,num_borrowers_female_pct
691,1213663,French,800.0,Retail,Retail,CD,"female, male",USD,monthly,field_partner,...,2016-12-30 04:52:37+00:00,2016-12-21 08:00:00+00:00,2017-03-09 04:40:57+00:00,8.0,68.0,77.0,1.0,1.0,2.0,0.5
1103,1212925,French,800.0,Beverages,Food,CD,"female, male",USD,monthly,field_partner,...,2016-12-29 04:06:55+00:00,2016-12-20 08:00:00+00:00,2017-02-26 09:10:38+00:00,8.0,59.0,68.0,1.0,1.0,2.0,0.5
1309,939220,English,8325.0,Food,Food,RW,"female, female, female, male, male, male, fema...",RWF,irregular,field_partner,...,2015-08-27 09:54:40+00:00,2015-07-29 07:00:00+00:00,2015-10-23 06:08:44+00:00,29.0,56.0,85.0,6.0,6.0,12.0,0.5
1521,1212309,English,550.0,Personal Housing Expenses,Housing,KH,"female, male",KHR,monthly,field_partner,...,2016-12-29 02:22:56+00:00,2016-12-07 08:00:00+00:00,2017-02-21 06:59:52+00:00,21.0,54.0,75.0,1.0,1.0,2.0,0.5
2226,1204206,French,2000.0,Motorcycle Transport,Transportation,CD,"female, male",USD,monthly,field_partner,...,2016-12-15 00:33:36+00:00,2016-12-12 08:00:00+00:00,2017-02-01 09:16:30+00:00,2.0,48.0,51.0,1.0,1.0,2.0,0.5
2440,1201799,French,3000.0,Spare Parts,Retail,CD,"female, male",USD,monthly,field_partner,...,2016-12-10 00:04:48+00:00,2016-11-19 08:00:00+00:00,2017-01-26 01:03:15+00:00,20.0,47.0,67.0,1.0,1.0,2.0,0.5
2499,855394,French,2925.0,Agriculture,Agriculture,BF,"female, female, female, male, female, male, fe...",XOF,bullet,field_partner,...,2015-03-14 00:04:05+00:00,2015-02-17 08:00:00+00:00,2015-04-30 01:08:35+00:00,24.0,47.0,71.0,6.0,6.0,12.0,0.5
2740,1163783,French,4500.0,Poultry,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2016-10-06 00:34:21+00:00,2016-10-03 07:00:00+00:00,2016-11-21 03:46:09+00:00,2.0,46.0,48.0,1.0,1.0,2.0,0.5
2866,1142336,English,1375.0,General Store,Retail,TZ,"female, male",TZS,monthly,field_partner,...,2016-08-30 09:04:13+00:00,2016-08-16 07:00:00+00:00,2016-10-15 05:30:13+00:00,14.0,45.0,59.0,1.0,1.0,2.0,0.5
3031,1006881,English,575.0,Agriculture,Agriculture,KE,"male, male, female, male, female, male, female...",KES,bullet,field_partner,...,2016-01-12 07:56:03+00:00,2016-02-01 08:00:00+00:00,2016-02-26 04:53:01+00:00,-20.0,44.0,24.0,6.0,6.0,12.0,0.5
3195,988981,French,2000.0,Agriculture,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2015-12-02 07:55:20+00:00,2015-11-24 08:00:00+00:00,2016-01-16 04:41:19+00:00,7.0,44.0,52.0,1.0,1.0,2.0,0.5
3429,1143118,English,925.0,Grocery Store,Food,TZ,"female, male",TZS,monthly,field_partner,...,2016-08-31 02:20:34+00:00,2016-08-26 07:00:00+00:00,2016-10-13 04:15:21+00:00,4.0,43.0,47.0,1.0,1.0,2.0,0.5
3709,1195653,English,1650.0,Cereals,Food,SL,"female, female, male, male",SLL,monthly,field_partner,...,2016-11-29 04:58:15+00:00,2016-11-18 08:00:00+00:00,2017-01-11 07:52:07+00:00,10.0,43.0,53.0,2.0,2.0,4.0,0.5
3780,1050552,English,1800.0,Grocery Store,Food,KH,"female, male, female, male",KHR,monthly,field_partner,...,2016-04-07 04:03:26+00:00,2016-03-17 07:00:00+00:00,2016-05-20 02:13:05+00:00,20.0,42.0,63.0,2.0,2.0,4.0,0.5
3885,925789,English,3450.0,Fish Selling,Food,TZ,"male, female, male",TZS,irregular,field_partner,...,2015-07-30 03:47:30+00:00,2015-07-28 07:00:00+00:00,2015-09-10 08:17:11+00:00,1.0,42.0,44.0,1.0,1.0,2.0,0.5
4073,1212747,French,700.0,Animal Sales,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2016-12-29 00:23:29+00:00,2016-12-20 08:00:00+00:00,2017-02-09 07:59:51+00:00,8.0,42.0,50.0,1.0,1.0,2.0,0.5
4084,992974,English,1400.0,Charcoal Sales,Retail,TZ,"male, female, male, female, male",TZS,irregular,field_partner,...,2015-12-10 00:03:48+00:00,2015-11-18 08:00:00+00:00,2016-01-21 03:49:36+00:00,21.0,42.0,63.0,2.0,2.0,4.0,0.5
4320,1176155,French,1975.0,Liquor Store / Off-License,Food,BI,"female, male, female, female, female, female, ...",BIF,irregular,field_partner,...,2016-10-27 03:17:47+00:00,2016-09-27 07:00:00+00:00,2016-12-08 05:38:00+00:00,29.0,42.0,71.0,8.0,8.0,16.0,0.5
4571,1116412,French,2375.0,Livestock,Agriculture,ML,"male, male, male, female, female",XOF,bullet,field_partner,...,2016-07-14 03:44:22+00:00,2016-06-24 07:00:00+00:00,2016-08-24 05:23:26+00:00,19.0,41.0,60.0,2.0,2.0,4.0,0.5
4615,884781,French,9250.0,Clothing Sales,Clothing,CD,"male, male, male, female, male, female, female",USD,monthly,field_partner,...,2015-05-13 04:48:57+00:00,2015-04-23 07:00:00+00:00,2015-06-23 07:55:08+00:00,19.0,41.0,61.0,3.0,3.0,6.0,0.5
4731,959391,English,1100.0,Tailoring,Services,UG,"male, male, female, female, male",UGX,monthly,field_partner,...,2015-10-07 04:53:30+00:00,2015-09-14 07:00:00+00:00,2015-11-18 04:08:52+00:00,22.0,41.0,64.0,2.0,2.0,4.0,0.5
5192,1148341,English,400.0,Dairy,Agriculture,KE,"female, male",KES,monthly,field_partner,...,2016-09-09 02:34:12+00:00,2016-08-15 07:00:00+00:00,2016-10-19 02:43:38+00:00,24.0,40.0,64.0,1.0,1.0,2.0,0.5
5892,991294,English,275.0,Home Appliances,Personal Use,KH,"male, female, male, male, female",KHR,monthly,field_partner,...,2015-12-08 02:16:19+00:00,2015-11-16 08:00:00+00:00,2016-01-17 07:41:13+00:00,21.0,40.0,61.0,2.0,2.0,4.0,0.5
6474,1135150,English,1200.0,Home Products Sales,Retail,KE,"female, male, male, female",KES,monthly,field_partner,...,2016-08-18 02:28:28+00:00,2016-07-21 07:00:00+00:00,2016-09-26 04:24:05+00:00,27.0,39.0,66.0,2.0,2.0,4.0,0.5
6538,917785,French,6000.0,Clothing Sales,Clothing,CD,"female, female, male, female, male, male",USD,irregular,field_partner,...,2015-07-15 04:05:24+00:00,2015-06-17 07:00:00+00:00,2015-08-24 01:25:49+00:00,27.0,39.0,67.0,3.0,3.0,6.0,0.5
6606,1141772,English,1600.0,Personal Expenses,Personal Use,SL,"female, male, male, female",SLL,monthly,field_partner,...,2016-08-29 04:11:46+00:00,2016-08-19 07:00:00+00:00,2016-10-08 02:16:53+00:00,9.0,39.0,49.0,2.0,2.0,4.0,0.5
6675,1187950,English,650.0,Farming,Agriculture,KE,"male, female, female, male, female, female, ma...",KES,bullet,field_partner,...,2016-11-18 02:41:31+00:00,2017-02-01 08:00:00+00:00,2016-12-27 03:01:22+00:00,-75.0,39.0,-36.0,4.0,4.0,8.0,0.5
7164,1129584,English,1800.0,Grocery Store,Food,UG,"female, female, male, male, female, male",UGX,monthly,field_partner,...,2016-08-05 08:33:15+00:00,2016-07-26 07:00:00+00:00,2016-09-14 02:33:27+00:00,10.0,39.0,49.0,3.0,3.0,6.0,0.5
7963,1202726,French,800.0,Retail,Retail,CD,"female, male",USD,monthly,field_partner,...,2016-12-13 00:15:44+00:00,2016-12-10 08:00:00+00:00,2017-01-20 09:27:22+00:00,2.0,38.0,41.0,1.0,1.0,2.0,0.5
8082,1147386,English,1800.0,Farming,Agriculture,VN,"female, male",VND,irregular,field_partner,...,2016-09-08 07:40:23+00:00,2016-08-10 07:00:00+00:00,2016-10-17 02:06:13+00:00,29.0,38.0,67.0,1.0,1.0,2.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347618,1153613,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-09-20 06:47:24+00:00,2016-09-13 07:00:00+00:00,2016-09-20 02:20:23+00:00,6.0,0.0,6.0,1.0,1.0,2.0,0.5
347807,832870,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-27 09:24:40+00:00,2015-01-20 08:00:00+00:00,2015-01-27 06:24:24+00:00,7.0,0.0,6.0,1.0,1.0,2.0,0.5
347828,1209255,Spanish,1475.0,Construction Supplies,Construction,NI,"female, female, male, male, female, male",NIO,irregular,field_partner,...,2016-12-22 06:03:58+00:00,2016-12-19 08:00:00+00:00,2016-12-23 03:30:54+00:00,2.0,0.0,3.0,3.0,3.0,6.0,0.5
347882,834563,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-30 07:37:06+00:00,2015-01-26 08:00:00+00:00,2015-01-31 07:06:58+00:00,3.0,0.0,4.0,1.0,1.0,2.0,0.5
347943,824466,French,300.0,Agriculture,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2015-01-06 04:07:01+00:00,2014-12-30 08:00:00+00:00,2015-01-07 01:56:51+00:00,6.0,0.0,7.0,1.0,1.0,2.0,0.5
348014,1143478,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-09-01 05:11:21+00:00,2016-08-22 07:00:00+00:00,2016-09-01 09:25:28+00:00,9.0,0.0,10.0,1.0,1.0,2.0,0.5
348172,1066096,English,500.0,Food Stall,Food,TZ,"female, male",TZS,irregular,field_partner,...,2016-05-09 09:04:07+00:00,2016-05-04 07:00:00+00:00,2016-05-10 05:00:36+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
348236,831511,English,1275.0,Home Appliances,Personal Use,LA,"male, male, female, male, male, male, female, ...",LAK,bullet,field_partner,...,2015-01-23 01:44:27+00:00,2015-02-01 08:00:00+00:00,2015-01-23 00:32:30+00:00,-9.0,0.0,-9.0,10.0,10.0,20.0,0.5
348243,1153753,English,125.0,Home Appliances,Personal Use,KH,"male, male, female",KHR,monthly,field_partner,...,2016-09-20 08:23:42+00:00,2016-09-14 07:00:00+00:00,2016-09-21 02:32:39+00:00,6.0,0.0,6.0,1.0,1.0,2.0,0.5
348484,829357,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-19 01:52:55+00:00,2015-01-12 08:00:00+00:00,2015-01-19 03:21:42+00:00,6.0,0.0,6.0,1.0,1.0,2.0,0.5
348513,1150065,English,200.0,Farming,Agriculture,KH,"female, male",KHR,monthly,field_partner,...,2016-09-14 08:00:03+00:00,2016-08-18 07:00:00+00:00,2016-09-14 06:58:10+00:00,27.0,0.0,26.0,1.0,1.0,2.0,0.5
348572,1210937,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-12-27 07:04:41+00:00,2016-12-22 08:00:00+00:00,2016-12-27 03:14:42+00:00,4.0,0.0,4.0,1.0,1.0,2.0,0.5
348628,1006662,English,125.0,Home Appliances,Personal Use,KH,"male, male, female",KHR,monthly,field_partner,...,2016-01-12 03:09:12+00:00,2015-12-31 08:00:00+00:00,2016-01-12 09:17:40+00:00,11.0,0.0,12.0,1.0,1.0,2.0,0.5
348741,824681,English,375.0,Home Appliances,Personal Use,LA,"female, female, male, female, male, male",LAK,bullet,field_partner,...,2015-01-07 06:51:49+00:00,2015-01-01 08:00:00+00:00,2015-01-07 01:22:53+00:00,5.0,0.0,5.0,3.0,3.0,6.0,0.5
348827,1210798,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-12-27 03:01:02+00:00,2016-12-15 08:00:00+00:00,2016-12-27 07:27:02+00:00,11.0,0.0,11.0,1.0,1.0,2.0,0.5
348971,990583,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-07 01:53:48+00:00,2015-11-23 08:00:00+00:00,2015-12-08 00:50:32+00:00,13.0,0.0,14.0,1.0,1.0,2.0,0.5
349005,947566,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-09-15 02:02:05+00:00,2015-09-06 07:00:00+00:00,2015-09-16 00:42:09+00:00,8.0,0.0,9.0,1.0,1.0,2.0,0.5
349258,1006652,English,125.0,Home Appliances,Personal Use,KH,"male, male, female",KHR,monthly,field_partner,...,2016-01-12 03:00:00+00:00,2015-12-31 08:00:00+00:00,2016-01-12 05:53:50+00:00,11.0,0.0,11.0,1.0,1.0,2.0,0.5
349271,825306,English,125.0,Farming,Agriculture,KH,"female, male",KHR,monthly,field_partner,...,2015-01-08 08:39:05+00:00,2014-12-10 08:00:00+00:00,2015-01-09 04:54:30+00:00,29.0,0.0,29.0,1.0,1.0,2.0,0.5
349344,1013133,English,375.0,Farming,Agriculture,KE,"male, male, female, male, male, female, female",KES,bullet,field_partner,...,2016-01-25 06:36:13+00:00,2016-02-01 08:00:00+00:00,2016-01-25 00:39:41+00:00,-7.0,0.0,-7.0,3.0,3.0,6.0,0.5
349496,1013119,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-01-25 06:25:08+00:00,2016-01-19 08:00:00+00:00,2016-01-25 06:11:24+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
349546,930295,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-08-11 04:06:02+00:00,2015-07-16 07:00:00+00:00,2015-08-11 02:46:38+00:00,25.0,0.0,25.0,1.0,1.0,2.0,0.5
349705,829443,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-19 06:40:35+00:00,2015-01-13 08:00:00+00:00,2015-01-19 05:36:59+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
349731,999995,English,175.0,Home Appliances,Personal Use,KH,"female, male, male, female",KHR,monthly,field_partner,...,2015-12-24 03:52:56+00:00,2015-12-21 08:00:00+00:00,2015-12-25 00:30:39+00:00,2.0,0.0,3.0,2.0,2.0,4.0,0.5
349786,836343,English,125.0,Home Appliances,Personal Use,KH,"male, female, male",KHR,monthly,field_partner,...,2015-02-05 06:05:38+00:00,2015-01-29 08:00:00+00:00,2015-02-06 00:38:24+00:00,6.0,0.0,7.0,1.0,1.0,2.0,0.5
349889,1145991,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-09-06 02:48:27+00:00,2016-08-23 07:00:00+00:00,2016-09-06 08:39:28+00:00,13.0,0.0,14.0,1.0,1.0,2.0,0.5
349892,998690,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-22 03:02:39+00:00,2015-12-15 08:00:00+00:00,2015-12-23 00:41:45+00:00,6.0,0.0,7.0,1.0,1.0,2.0,0.5
349922,1003239,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-01-04 07:46:31+00:00,2015-12-21 08:00:00+00:00,2016-01-04 06:02:46+00:00,13.0,0.0,13.0,1.0,1.0,2.0,0.5
350054,1153765,English,175.0,Home Appliances,Personal Use,KH,"female, male, female, male",KHR,monthly,field_partner,...,2016-09-20 08:27:22+00:00,2016-09-14 07:00:00+00:00,2016-09-21 03:49:40+00:00,6.0,0.0,6.0,2.0,2.0,4.0,0.5
350067,1001979,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-30 05:23:58+00:00,2015-12-15 08:00:00+00:00,2015-12-31 01:18:57+00:00,14.0,0.0,15.0,1.0,1.0,2.0,0.5