In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

from config import dbconfig


engine = create_engine(dbconfig.aws_connection_string)
table_names = engine.table_names()
print(table_names)

['partners', 'loan_dates', 'd_date', 'lenders', 'loans', 'loans_lenders']

In [2]:
statement = """SELECT loans.loan_id,original_language,funded_amount,activity_name,sector_name,country_code,currency,repayment_interval,distribution_model
, loan_dates.* FROM loans
inner join loan_dates on loans.loan_id = loan_dates.loan_id
where status = 'funded' 
and posted_time_actual >= make_date(2015, 1 ,1) and posted_time_actual <= make_date(2016, 12 ,31)
order by posted_to_raised_days desc"""

cleanloans = pd.read_sql_query(statement, engine)

In [3]:
cleanloans

,loan_id,original_language,funded_amount,activity_name,sector_name,country_code,currency,repayment_interval,distribution_model,loan_id,posted_time_actual,disburse_time_actual,raised_time_actual,disburse_to_posted_days,posted_to_raised_days,disbursed_to_raised_days
0,1269631,English,2500.0,Clothing,Clothing,US,USD,monthly,direct,1269631,2016-04-12 07:03:17+00:00,2017-05-09 08:53:57+00:00,2017-05-08 06:55:31+00:00,-392.0,390.0,-1.0
1,1171586,English,5000.0,Services,Services,US,USD,monthly,direct,1171586,2015-10-30 07:52:14+00:00,2016-12-22 03:49:53+00:00,2016-11-20 02:41:06+00:00,-418.0,386.0,-32.0
2,1269716,English,10000.0,Services,Services,US,USD,monthly,direct,1269716,2016-06-24 09:22:58+00:00,2017-04-29 00:10:25+00:00,2017-04-18 02:55:41+00:00,-308.0,297.0,-10.0
3,1149690,English,5500.0,Child Care,Services,US,USD,monthly,direct,1149690,2015-12-12 00:53:41+00:00,2016-10-04 07:41:52+00:00,2016-09-30 03:01:17+00:00,-297.0,293.0,-4.0
4,1130335,English,10000.0,General Store,Retail,US,USD,monthly,direct,1130335,2016-01-19 02:37:13+00:00,2016-09-19 01:36:55+00:00,2016-09-15 05:21:14+00:00,-243.0,240.0,-3.0
5,1086704,English,10000.0,General Store,Retail,US,USD,monthly,direct,1086704,2015-01-06 06:24:14+00:00,2015-09-04 06:34:12+00:00,2015-09-03 04:16:11+00:00,-241.0,239.0,-1.0
6,1086748,English,225.0,General Store,Retail,KE,KES,monthly,direct,1086748,2015-01-08 09:55:12+00:00,2015-09-10 06:23:00+00:00,2015-09-04 03:21:39+00:00,-244.0,238.0,-6.0
7,1086757,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086757,2015-01-08 06:32:38+00:00,2015-09-14 01:07:00+00:00,2015-08-18 03:38:16+00:00,-248.0,221.0,-26.0
8,1086791,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086791,2015-01-12 07:41:38+00:00,2015-08-18 02:15:00+00:00,2015-08-18 03:44:29+00:00,-217.0,217.0,0.0
9,1086699,English,125.0,Grocery Store,Food,KE,KES,monthly,direct,1086699,2015-01-06 02:19:01+00:00,2015-08-18 02:15:00+00:00,2015-08-12 00:41:43+00:00,-223.0,217.0,-6.0
10,1086858,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086858,2015-01-14 05:03:03+00:00,2015-09-02 01:39:00+00:00,2015-08-19 01:43:09+00:00,-230.0,216.0,-13.0
11,1086860,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086860,2015-01-14 05:06:24+00:00,2015-09-02 01:39:00+00:00,2015-08-19 03:42:26+00:00,-230.0,216.0,-13.0
12,1086758,English,125.0,General Store,Retail,KE,KES,monthly,direct,1086758,2015-01-08 06:33:41+00:00,2015-09-14 01:07:00+00:00,2015-08-13 00:58:07+00:00,-248.0,216.0,-32.0
13,1086862,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086862,2015-01-14 05:09:37+00:00,2015-09-02 01:39:00+00:00,2015-08-19 00:46:52+00:00,-230.0,216.0,-14.0
14,1086762,English,125.0,Grocery Store,Food,KE,KES,monthly,direct,1086762,2015-01-08 06:38:59+00:00,2015-09-14 01:07:00+00:00,2015-08-13 00:58:07+00:00,-248.0,216.0,-32.0
15,1086861,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086861,2015-01-14 05:07:43+00:00,2015-09-02 01:39:00+00:00,2015-08-19 02:48:03+00:00,-230.0,216.0,-13.0
16,1086885,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086885,2015-01-16 05:55:46+00:00,2015-08-25 03:51:00+00:00,2015-08-20 00:25:24+00:00,-220.0,215.0,-5.0
17,1086888,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086888,2015-01-16 05:59:43+00:00,2015-08-25 03:51:00+00:00,2015-08-20 00:25:24+00:00,-220.0,215.0,-5.0
18,1086760,English,125.0,General Store,Retail,KE,KES,monthly,direct,1086760,2015-01-08 06:36:17+00:00,2015-09-10 06:23:00+00:00,2015-08-11 09:55:35+00:00,-244.0,215.0,-29.0
19,1086886,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086886,2015-01-16 05:56:43+00:00,2015-08-25 03:51:00+00:00,2015-08-20 00:25:24+00:00,-220.0,215.0,-5.0
20,1086882,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086882,2015-01-16 05:43:26+00:00,2015-08-25 03:51:00+00:00,2015-08-20 00:25:23+00:00,-220.0,215.0,-5.0
21,1086857,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086857,2015-01-14 05:00:36+00:00,2015-09-02 01:39:00+00:00,2015-08-18 03:44:29+00:00,-230.0,215.0,-14.0
22,1086855,English,125.0,Cosmetics Sales,Retail,KE,KES,monthly,direct,1086855,2015-01-14 04:56:04+00:00,2015-09-02 01:39:00+00:00,2015-08-18 03:38:16+00:00,-230.0,215.0,-14.0
23,1086696,English,125.0,Retail,Retail,KE,KES,monthly,direct,1086696,2015-01-06 01:11:41+00:00,2015-08-18 02:15:00+00:00,2015-08-08 05:39:23+00:00,-224.0,214.0,-9.0
24,1086887,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086887,2015-01-16 05:57:51+00:00,2015-08-25 03:51:00+00:00,2015-08-19 00:45:23+00:00,-220.0,214.0,-6.0
25,1086889,English,125.0,General Store,Retail,KE,KES,monthly,direct,1086889,2015-01-16 06:03:36+00:00,2015-08-25 03:51:00+00:00,2015-08-19 00:45:23+00:00,-220.0,214.0,-6.0
26,1086884,English,125.0,Clothing,Clothing,KE,KES,monthly,direct,1086884,2015-01-16 05:53:48+00:00,2015-08-25 03:51:00+00:00,2015-08-18 01:39:17+00:00,-220.0,213.0,-7.0
27,1086883,English,125.0,Agriculture,Agriculture,KE,KES,monthly,direct,1086883,2015-01-16 05:45:17+00:00,2015-08-25 03:51:00+00:00,2015-08-18 00:17:52+00:00,-220.0,213.0,-7.0
28,1086671,English,125.0,General Store,Retail,KE,KES,monthly,direct,1086671,2015-01-05 06:52:07+00:00,2015-08-12 00:18:00+00:00,2015-08-06 01:45:21+00:00,-218.0,212.0,-5.0
29,1086672,English,125.0,General Store,Retail,KE,KES,monthly,direct,1086672,2015-01-05 06:55:38+00:00,2015-08-12 00:18:00+00:00,2015-08-05 00:35:23+00:00,-218.0,211.0,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350115,1000802,English,50.0,Home Appliances,Personal Use,PH,PHP,irregular,field_partner,1000802,2015-12-28 02:18:56+00:00,2015-11-27 08:00:00+00:00,2015-12-28 03:27:24+00:00,30.0,0.0,30.0
350116,831058,English,250.0,Farming,Agriculture,PH,PHP,irregular,field_partner,831058,2015-01-22 07:16:22+00:00,2015-01-13 08:00:00+00:00,2015-01-23 06:04:46+00:00,8.0,0.0,9.0
350117,835492,English,125.0,General Store,Retail,PH,PHP,irregular,field_partner,835492,2015-02-03 07:21:36+00:00,2015-01-23 08:00:00+00:00,2015-02-03 09:26:01+00:00,10.0,0.0,11.0
350118,826544,English,125.0,Home Appliances,Personal Use,KH,KHR,monthly,field_partner,826544,2015-01-10 07:14:37+00:00,2014-12-31 08:00:00+00:00,2015-01-11 03:35:15+00:00,9.0,0.0,10.0
350119,954956,English,100.0,Fruits & Vegetables,Food,KE,KES,monthly,field_partner,954956,2015-09-29 08:40:56+00:00,2015-09-18 07:00:00+00:00,2015-09-30 02:31:07+00:00,11.0,0.0,11.0
350120,824739,English,125.0,Livestock,Agriculture,KE,KES,monthly,field_partner,824739,2015-01-07 08:53:37+00:00,2014-12-08 08:00:00+00:00,2015-01-07 03:42:16+00:00,30.0,0.0,29.0
350121,832052,English,1075.0,Farming,Agriculture,UG,UGX,monthly,field_partner,832052,2015-01-24 08:12:07+00:00,2015-01-15 08:00:00+00:00,2015-01-25 01:59:31+00:00,9.0,0.0,9.0
350122,1017603,English,275.0,Recycled Materials,Retail,PH,PHP,monthly,field_partner,1017603,2016-02-03 07:00:47+00:00,2016-02-02 08:00:00+00:00,2016-02-04 01:11:57+00:00,0.0,0.0,1.0
350123,1035472,English,450.0,General Store,Retail,PH,PHP,irregular,field_partner,1035472,2016-03-09 06:49:05+00:00,2016-02-23 08:00:00+00:00,2016-03-09 03:58:56+00:00,14.0,0.0,14.0
350124,962774,None,150.0,Used Clothing,Clothing,UG,UGX,irregular,field_partner,962774,2015-10-14 09:41:23+00:00,2015-10-07 07:00:00+00:00,2015-10-15 02:21:32+00:00,7.0,0.0,7.0
350125,1206362,Spanish,700.0,Dental,Health,PE,USD,irregular,field_partner,1206362,2016-12-19 08:11:42+00:00,2016-11-24 08:00:00+00:00,2016-12-19 09:54:39+00:00,25.0,0.0,25.0
350126,828828,English,350.0,Sewing,Services,PK,PKR,monthly,field_partner,828828,2015-01-16 02:01:04+00:00,2015-01-09 08:00:00+00:00,2015-01-17 01:28:43+00:00,6.0,0.0,7.0
350127,1003205,English,225.0,Pigs,Agriculture,PH,PHP,irregular,field_partner,1003205,2016-01-04 07:18:06+00:00,2015-12-04 08:00:00+00:00,2016-01-05 05:42:50+00:00,30.0,0.0,31.0
350128,1003013,English,375.0,Fuel/Firewood,Retail,TZ,TZS,irregular,field_partner,1003013,2016-01-02 07:43:58+00:00,2015-12-03 08:00:00+00:00,2016-01-02 01:32:28+00:00,29.0,0.0,29.0
350129,880630,English,600.0,Retail,Retail,TL,USD,monthly,field_partner,880630,2015-05-06 06:16:56+00:00,2015-04-15 07:00:00+00:00,2015-05-07 01:19:20+00:00,20.0,0.0,21.0
350130,1210320,Spanish,3400.0,Clothing Sales,Clothing,PY,PYG,monthly,field_partner,1210320,2016-12-26 04:38:40+00:00,2016-11-25 08:00:00+00:00,2016-12-27 01:55:38+00:00,30.0,0.0,31.0
350131,1144400,English,175.0,Home Appliances,Personal Use,KH,KHR,monthly,field_partner,1144400,2016-09-02 08:13:09+00:00,2016-08-25 07:00:00+00:00,2016-09-02 02:14:48+00:00,8.0,0.0,7.0
350132,823127,English,100.0,Phone Use Sales,Retail,PH,PHP,irregular,field_partner,823127,2015-01-01 05:27:13+00:00,2014-12-02 08:00:00+00:00,2015-01-01 01:30:43+00:00,29.0,0.0,29.0
350133,832136,English,300.0,Higher education costs,Education,PH,PHP,irregular,field_partner,832136,2015-01-25 03:05:44+00:00,2015-01-16 08:00:00+00:00,2015-01-25 07:24:17+00:00,8.0,0.0,8.0
350134,1150891,English,125.0,Retail,Retail,PH,PHP,irregular,field_partner,1150891,2016-09-15 08:30:38+00:00,2016-08-19 07:00:00+00:00,2016-09-16 02:41:55+00:00,27.0,0.0,27.0
350135,832062,English,200.0,Beauty Salon,Services,UG,UGX,monthly,field_partner,832062,2015-01-24 09:04:17+00:00,2015-01-13 08:00:00+00:00,2015-01-25 05:37:59+00:00,11.0,0.0,11.0
350136,1176213,English,375.0,Bakery,Food,RW,RWF,irregular,field_partner,1176213,2016-10-27 06:07:22+00:00,2016-11-01 07:00:00+00:00,2016-10-27 08:03:18+00:00,-5.0,0.0,-4.0
350137,1009324,Spanish,2500.0,Retail,Retail,PY,PYG,irregular,field_partner,1009324,2016-01-17 03:17:43+00:00,2015-12-17 08:00:00+00:00,2016-01-18 01:37:16+00:00,30.0,0.0,31.0
350138,886741,English,175.0,Pigs,Agriculture,PH,PHP,irregular,field_partner,886741,2015-05-18 00:43:30+00:00,2015-05-12 07:00:00+00:00,2015-05-19 00:24:36+00:00,5.0,0.0,6.0
350139,1001151,English,325.0,Pigs,Agriculture,PH,PHP,irregular,field_partner,1001151,2015-12-28 03:53:52+00:00,2015-11-27 08:00:00+00:00,2015-12-28 09:46:53+00:00,30.0,0.0,31.0
350140,1142377,English,175.0,Home Appliances,Personal Use,KH,KHR,monthly,field_partner,1142377,2016-08-30 09:57:13+00:00,2016-08-24 07:00:00+00:00,2016-08-31 08:53:35+00:00,6.0,0.0,7.0
350141,839989,Spanish,650.0,Taxi,Transportation,PE,PEN,irregular,field_partner,839989,2015-02-12 05:15:09+00:00,2015-01-16 08:00:00+00:00,2015-02-13 03:31:49+00:00,26.0,0.0,27.0
350142,1003412,None,150.0,Cereals,Food,TG,XOF,irregular,field_partner,1003412,2016-01-04 01:44:56+00:00,2015-12-07 08:00:00+00:00,2016-01-04 07:44:33+00:00,27.0,0.0,27.0
350143,1005667,English,150.0,Home Appliances,Personal Use,KH,KHR,monthly,field_partner,1005667,2016-01-08 09:33:55+00:00,2015-12-09 08:00:00+00:00,2016-01-09 01:48:54+00:00,30.0,0.0,30.0
350144,887573,English,100.0,Pigs,Agriculture,PH,PHP,irregular,field_partner,887573,2015-05-19 04:25:45+00:00,2015-05-08 07:00:00+00:00,2015-05-20 03:22:46+00:00,10.0,0.0,11.0

In [4]:
import seaborn as sns
sns.set()